<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>Controller.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.categoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryController</servlet-name>
        <servlet-class>Controller.categoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailController</servlet-name>
        <servlet-class>Controller.detailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>Controller.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountControlle</servlet-name>
        <servlet-class>Controller.accountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>Controller.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resourcesController</servlet-name>
        <servlet-class>Controller.resourcesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>Controller.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupController</servlet-name>
        <servlet-class>Controller.signupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>Controller.WelcomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managementController</servlet-name>
        <servlet-class>Controller.managementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileController</servlet-name>
        <servlet-class>Controller.updateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>Controller.changePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/home/*</url-pattern>
        <!-- load danh sach san pham va giao dien -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryController</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailController</servlet-name>
        <url-pattern>/detail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountControlle</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>resourcesController</servlet-name>
        <url-pattern>/resource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/order/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <!-- Project chay file nay dau tien sau khi khoi tao cac bien trong servlet se chuyen huong den /home -->
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managementController</servlet-name>
        <url-pattern>/management/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/profile/changePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
